.boards-list {
  gap: 26px;
}

.board-item {
  padding: 32px 16px 20px;
  border-radius: 10px;
  background-color: #F4F4F4;
}

.add-new-board {
  height: 203px;
  max-height: 100%;
  border: 1px dashed #00000033;
  border-radius: 10px;

  &__link {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

    &-text {
    }
  }
}