.boards-list {
  margin-top: 35px;
  gap: 26px;
}

.board-item {
  padding: 32px 16px 20px;
  border-radius: 10px;
  background-color: #F4F4F4;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon--combined-shape {
    width: 24px;
    height: 24px;
  }

  &__description {
    margin-top: 6px;
    font-size: 14px;
    color: #00000080;
  }

  &__bottom {
    margin-top: 30px;

    .user-icon {
      width: 30px;
      height: 30px;
    }
  }

}

.add-new-board {
  height: 160px;
  max-height: 100%;
  border: 1px dashed #00000033;
  border-radius: 10px;

  &__link {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

    &-text {
    }
  }
}