@use './variables' as *;

.cards-list {
  margin-top: 35px;
  gap: 26px;
}

.card-item {
  padding: 32px 16px 20px;
  border-radius: 10px;
  background-color: $theme-bg-color-gray;

  &__image {
    margin-bottom: 27px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon--combined-shape {
    width: 24px;
    height: 24px;
  }

  &__title {
    font-weight: 800;
  }

  &__description {
    margin-top: 6px;
    font-size: 14px;
    color: #00000080;
  }

  &__bottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .user-icon {
      width: 30px;
      height: 30px;
    }
  }

  &__comments {
    display: flex;
    align-items: flex-end;

    &-counts {
      font-size: 14px;
      color: #bbbbbb;
    }

    &-icon {
      &-img {
        vertical-align: middle;
      }
    }
  }
}
