@use './variables' as *;

.container {
  min-height: calc(100svh - 60px);
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 33px $inner-spacing;
}

.content-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*
ユーザーアイコン
*/
.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/*
ドロップダウンメニュー
*/
.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown-content {
      display: block;
    }
  }

  .icon--combined-shape {
    vertical-align: middle;
  }

  &-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 12px;
    top: 100%;
    right: -5px;
    padding: 12px;
    border-radius: 10px;
    white-space: nowrap;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    &__link {
      display: block;
    }
  }
}

/// @name Add New Entry Block
/// @group Components
/// 新規データ追加リンクの共通スタイル
/// - board一覧
/// - task一覧
/// - task詳細コメント
.add-new-entry {
  height: 160px;
  max-height: 100%;
  border: 1px dashed #00000033;
  border-radius: 10px;

  &__link {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
  }
}