@use './variables' as *;

.field {
  margin-top: 32px;
  input,
  textarea {
    width: 100%;
    padding: 12.5px;
    border-radius: 10px;
    background-color: $theme-bg-color-gray;
    border: none;
  }

  textarea {
    height: 203px;
    max-height: 100%;
  }

  input[type="file"] {
    background-color: unset;
  }

  &--password-confirmation {
    margin-top: 16px;
  }
}