@use './variables' as *;

.header {
  padding: 16px $inner-spacing;
  border-bottom: 1px solid #f4f4f4;

  &_logos {
    display: flex;
    justify-content: space-between;
  }

  &_pageTitle {
    margin: unset;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
  &-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
}
