@use './variables' as *;

.header {
  padding: 16px $inner-spacing;
  border-bottom: 1px solid $theme-border-color-gray;

  &_logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_pageTitle {
    margin: unset;
  }
}
