@use './variables' as *;

* {
  box-sizing: border-box;
}

body {
  margin: unset;
  font-size: $font-size-common;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  font-size: $font-size-common;
  font-weight: 400;
}

h2 {
  font-size: 26px;
  font-weight: 800;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: unset;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

input {
  &[type='submit'] {
    border: none;
  }
}
